<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>리뷰 감정 AI 분석 게시판</title>
    {% load static %} {# 이미지 불러오기 위한 코드 #}
    {# <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"> 부트스트랩 #}
    <style>
        table{
            text-align: center;
        }
        tr:nth-child(1){
            font-weight: bold;
        }
    </style>
</head>
<body>
<h2>리뷰 감정 AI 분석 게시판</h2>
<h4>{{ review_place_name }}에 대한 리뷰</h4>
{# template 언어 #}
{% if member_name != '0' %}
    <form action="/placeReview/insertReview" method="post">
    {% csrf_token %}
    <table border="1">
        <input type="hidden" name="review_writer" value="{{ member_name }}">
        <input type="hidden" name="review_place_name" value="{{ review_place_name }}">
        <tr>
            <td width="500" height="10">
                <textarea style="width: 450px; height: 30px;" name="review_content" placeholder="내용"></textarea>
            </td>
            <td><button>작성</button></td>
        </tr>
    </table>
</form>
{% else %}
{% endif %}
<p></p>
<table border="1">
<tr>
    <td>번호</td>
    <td>감정</td>
    <td>내용</td>
    <td>작성자</td>
    <td>삭제</td>
</tr>
{% for one in list %}
        <tr>
            <td width="50">{{ one.id }}</td>
            {% if one.review_pos_neg == 1 %}
                <td width="100" style="color: deepskyblue">긍정</td>
            {% else %}
                <td width="100" style="color: red">부정</td>
            {% endif %}
            <td style="width: 300px; text-align: left;" >&nbsp;{{ one.review_content }}</td>
            <td width="100">{{ one.review_writer }}</td>
            <td>
                {% if member_name == one.review_writer  %}
                    <a href="/placeReview/deleteReview/{{ review_place_name }}/{{ one.id }}/{{ one.review_writer }}"><button>삭제</button></a>
                {% endif %}
            </td>
        </tr>
{% endfor %}
</table>
<p></p>
<table border="1">
    <tr>
        <td width="100">
            키워드 분석 워드 클라우드
        </td>
    </tr>
    <tr>
        <td width="100">
            <img src="/static/img/{{ review_place_name }}.png">
        </td>
    </tr>
</table>
</body>
</html>